<style>
    .chat-container {
        max-width: 800px;
        margin: 0 auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .chat-header {
        padding: 15px;
        border-bottom: 1px solid #eee;
        background-color: #f8f8f8;
        border-radius: 5px 5px 0 0;
    }

    .chat-messages {
        padding: 15px;
        height: 400px;
        overflow-y: auto;
    }

    .message {
        margin-bottom: 15px;
        padding: 10px 15px;
        border-radius: 5px;
        position: relative;
    }

    .message-sent {
        background-color: #e3f2fd;
        margin-left: 20%;
        margin-right: 5px;
    }

    .message-received {
        background-color: #f1f1f1;
        margin-right: 20%;
        margin-left: 5px;
    }

    .message-time {
        font-size: 11px;
        color: #999;
        margin-top: 5px;
        text-align: right;
    }

    .chat-input {
        padding: 15px;
        border-top: 1px solid #eee;
        background-color: #f8f8f8;
        border-radius: 0 0 5px 5px;
    }

    .user-typing {
        font-size: 12px;
        color: #999;
        font-style: italic;
        height: 20px;
        padding: 0 15px 10px;
    }
</style>

<body>
    <div class=" col-lg-12">
        <div class="chat-container">
            <div class="chat-header">
                <h4 class="text-center">Trò chuyện với <strong>{{user.name}}</strong></h4>
            </div>

            <div class="user-typing" id="typing-status"></div>

            <div class="chat-messages" id="chat-messages">
                <!-- Tin nhắn nhận -->
                {{!-- <div class="message message-received">
                    <div class="message-text">Xin chào! Bạn có khỏe không?</div>
                    <div class="message-time">10:00 AM - Người dùng 2</div>
                </div> --}}

                <!-- Tin nhắn gửi -->
                {{!-- <div class="message message-sent">
                    <div class="message-text">Mình khỏe, cảm ơn bạn! Còn bạn thì sao?</div>
                    <div class="message-time">10:02 AM - Bạn</div>
                </div> --}}
            </div>

            <div class="chat-input">
                <form id="chat-form" action="/mailbox/messages/send" method="POST">
                    <input type="hidden" name="from" value="{{existingUser._id}}">
                    <input type="hidden" name="to" value="{{user._id}}">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message-input" name="content"
                            placeholder="Nhập tin nhắn...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Gửi</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<!-- jQuery và Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- websocket.io.js -->
{{!--
<script src="/socket.io/socket.io.js"></script> --}}
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script>
    const socket = io();
    $(document).ready(function () {
        // Xử lý gửi tin nhắn
        $('#chat-form').submit(function (e) {
            e.preventDefault();
            var messageText = $('#message-input').val().trim();

            if (messageText !== '') {
                // Thêm tin nhắn vào khung chat
                socket.emit("sendMessage", {
                    username: "{{existingUser.name}}",
                    from: "{{existingUser._id}}",
                    to: "{{user._id}}",
                    content: messageText,
                    message: messageText,
                })
                $('#message-input').val('');

            }
        });
    });
    socket.on("chatMessage", (data) => {
        var newMessage = '';
        if (data.username === "{{existingUser.name}}") {
            newMessage = '<div class="message message-sent">' +
                '<div class="message-text">' + data.message + '</div>' +
                '<div class="message-time">10:03 AM - ' + data.username + '</div>' +
                '</div>';
        } else {
            newMessage = '<div class="message message-received">' +
                '<div class="message-text">' + data.message + '</div>' +
                '<div class="message-time">10:03 AM - ' + data.username + '</div>' +
                '</div>';
        }
        $('#chat-messages').append(newMessage);
        console.log(data);
        $('#chat-messages').scrollTop($('#chat-messages')[0].scrollHeight);
    })
</script>