<body>
    <div id="wrapper">

        <div class="gray-bg">

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Thêm nhân sự</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a>Quản trị viên</a>

                        </li>
                        <li>
                            <a href="/manager">Quản lý nhân sự</a>
                        </li>
                        <li class="active">
                            <strong>Thêm nhân sự</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Thêm</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <h3 class="m-t-none m-b">Thông tin tài khoản </h3>
                                        <form role="form" action="/manager/personnel/add" method="POST">
                                            <div class="form-group"><label>Họ và tên</label> <input type="text"
                                                    placeholder="Enter name" name="name" class="form-control"></div>
                                            <div class="form-group"><label>Email</label> <input type="email"
                                                    placeholder="Enter email" name="email" class="form-control"></div>
                                            <div class="form-group"><label>Số điện thoại</label> <input type="phone"
                                                    placeholder="Phone" name="phone" class="form-control"></div>
                                            <div class="form-group"><label>Ngày sinh</label> <input type="date"
                                                    name="dob" class="form-control"></div>
                                            <div class="form-group"><label>Chức vụ</label>
                                                <select id="role" name="role">
                                                    <option value="admin"></option>
                                                    <option value="user">User</option>
                                                    <option value="CEO">CEO</option>
                                                    <option value="manager">Manager</option>
                                                </select>
                                            </div>
                                            <div class="form-group"><label>Password</label> <input type="password"
                                                    placeholder="Password" name="password" class="form-control"></div>
                                            <div>
                                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs"
                                                    type="submit"><strong>Thêm nhân sự</strong></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="ibox">
                                            <div class="ibox-content">
                                                <h2>Tổng quan nhân sự</h2>
                                                <div class="text-center">
                                                    <div id="sparkline1"><canvas width="140" height="140"
                                                            style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox">
                                            <div class="ibox-content">
                                                <h5>Alerts</h5>
                                                <table class="table table-stripped small m-t-md">
                                                    <tbody>
                                                        <tr>
                                                            <td class="no-borders">
                                                                <i class="fa fa-circle text-navy" style="color: {{CEO.color}}"></i>
                                                            </td>
                                                            <td class="no-borders">
                                                                CEO
                                                            </td>
                                                        </tr>
                                                        <tr> 
                                                            <td>
                                                                <i class="fa fa-circle text-navy" style="color: #56DFCF;"></i>
                                                            </td>
                                                            <td>
                                                                Manager
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <i class="fa fa-circle text-navy" style="color: #ADEED9;"></i>
                                                            </td>
                                                            <td>
                                                                Admin
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Danh sách nhân sự</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Điện thoại</th>
                                                        <th>Email</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each person }}
                                                    <tr class="gradeU">
                                                        <td class="center">{{sum @index 1}}</td>
                                                        <td>{{this.name}}</td>
                                                        <td>{{this.role}}</td>
                                                        <td>{{this.phone}}</td>
                                                        <td>{{this.email}}</td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="footer">
                        {{!-- <div class="pull-right">
                            10GB of <strong>250GB</strong> Free.
                        </div> --}}
                        <div>
                            <strong>Copyright</strong> Company &copy; 2025
                        </div>
                    </div>

                </div>
            </div>
            <!-- iCheck -->
            <script src="js/plugins/iCheck/icheck.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('.i-checks').iCheck({
                        checkboxClass: 'icheckbox_square-green',
                        radioClass: 'iradio_square-green',
                    });
                });
            </script>


</body>